.main-menu{
	.navbar-header{
		.nav{
			.nav-item{
				.navbar-brand{
					.brand-logo{

					}

					.brand-logo-big{
						width: 145px;
						padding-left: 30px;

						img{
							width: 100%;
						}
					}
				}
			}
		}
	}

	.main-menu-content{

		.navigation{
			padding-top: 35px;
			.nav-item{
				.nav-lik{
					
					.menu-title{

					}
				}
			}
		}

	}
}